---
---

<section class="p-5 bg-bgm rounded-[20px]">
    <div class="grid grid-cols-5 gap-5 gap-y-5">
        <div>
            <img src="/shadakah1.png" alt="Sadakah" class="object-cover rounded-xl aspect-square w-full">
        </div>
        <div>
            <img src="/lms1.png" alt="Sadakah" class="object-cover rounded-xl aspect-square w-full">
        </div>
        <div>
            <img src="/healthX1.png" alt="Sadakah" class="object-cover rounded-xl aspect-square w-full">
        </div>
        <div>
            <img src="/herbsion1.png" alt="Sadakah" class="object-cover rounded-xl aspect-square w-full">
        </div>
        <div>
            <img src="/neeramoy1.png" alt="Sadakah" class="object-cover rounded-xl aspect-square w-full">
        </div>
        <div>
            <img src="/shadakah5.png" alt="Sadakah" class="object-cover rounded-xl aspect-square w-full">
        </div>
        <div>
            <img src="/lms3.png" alt="Sadakah" class="object-cover rounded-xl aspect-square w-full">
        </div>
        <div>
            <img src="/healthX1.png" alt="Sadakah" class="object-cover rounded-xl aspect-square w-full">
        </div>
        <div>
            <img src="/neeramoy3.png" alt="Sadakah" class="object-cover rounded-xl aspect-square w-full">
        </div>
        <div>
            <img src="/herbsion2.png" alt="Sadakah" class="object-cover rounded-xl aspect-square w-full">
        </div>
    </div>
</section>