---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <main class="py-5 md:py-10 container">
        <Navbar />
        <div class="pt-[60px]"></div>
        <Footer />
    </main>
</Layout>