---
import { Image } from "astro:assets";
import SR_LOGO from "../assets/SR_LOGO.png";
import behance from '../assets/behance.png';
import dribble from '../assets/dribble.png';
import instragram from "../assets/instragram.png";
---

<div class="bg-bgm rounded-[20px] p-7 md:py-8 md:px-16 flex justify-between items-center flex-wrap md:flex-nowrap gap-y-5">
    <div class="order-last md:order-first w-full md:w-auto">
        <p class="text-white font-Montserrat text-center md:text-left">© 2024 Samsad Rashid</p>
    </div>
    <div>
        <a href="#">
            <Image src={SR_LOGO} alt="Logo" class="max-w-14" />
        </a>
    </div>
    <div class="flex gap-9 items-center">
        <div class="max-w-7">
            <a href="#">
                <Image src={instragram} alt="Logo" class="object-contain" />
            </a>
        </div>
        <div class="max-w-7">
            <a href="#">
                <Image src={dribble} alt="Logo" class="object-contain" />
            </a>
        </div>
        <div class="max-w-7">
            <a href="#">
                <Image src={behance} alt="Logo" class="object-contain" />
            </a>    
        </div>
    </div>
</div>