---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import banner_image from "../assets/bannerImage.png";
import hireme from "../assets/hireme.png";
import uiDesign from "../assets/uiDesign.png";
import uxDesign from "../assets/uxDesign.png";
---

<header class="bg-bgm py-10 md:py-28 px-8 md:px-16 rounded-[30px] grid lg:grid-cols-2 gap-y-10 gap-5">
    <div class="w-50 relative z-10">
        <div class="mb-7 flex gap-3 py-2 px-4 rounded-3xl bg-[#1A3927] w-fit items-center">
            <Icon name="roundDot" size={14} />
            <p class="font-medium text-[#009A3E] uppercase ">Available for work</p>
        </div>
        <h1 class="text-white text-4xl md:text-6xl font-bold leading-tight mb-16">I’m Samsad <br/>
            <span class="text-pmb">Product Design</span>
        </h1>
        <div class="flex flex-wrap gap-8 relative z-10">
            <li class="list-none"><a href="#" class="btn-blue">hey@samsad.com</a></li>
            <li class="list-none"><a href='#'> <Icon name="instagram" size={28}/></a></li>
            <li class="list-none"><a href='#'> <Icon name="DRIBBBLE" size={28}/></a></li>
            <li class="list-none"><a href='#'> <Icon name="BEHANCE" size={28}/></a></li>
            <div class="absolute -z-10 -top-[54px] left-16">
                <Image src={hireme} alt="Hire me" class ="max-w-[70px]"/>
            </div>
        </div>
        <div class="absolute -z-10 right-12 2xl:right-24 hidden xl:block top-12">
            <Image src={uiDesign} alt="Ui design" class="max-w-[110px] object-cover"/>
        </div>
        <div class="absolute -z-10 -right-10 top-36 2xl:right-2 hidden xl:block">
            <Image src={uxDesign} alt="Ui design" class="max-w-[110px] object-cover"/>
        </div>
    </div>
    <div>
        <div>
            <Image src={banner_image} alt="banner image" class="w-full md:max-w-md mx-auto"/>
        </div>
    </div>
</header>
