---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import banner_image from "../assets/bannerImage.png";
import hireme from "../assets/hireme.png";
import uiDesign from "../assets/uiDesign.png";
import uxDesign from "../assets/uxDesign.png";
---

<header class="bg-bgm py-28 px-16 rounded-[30px] grid grid-cols-2 gap-5 mb-24">
    <div class="w-50 relative z-10">
        <div class="mb-7 flex gap-3 py-2 px-4 rounded-3xl bg-[#1A3927] w-fit items-center">
            <Icon name="roundDot" size={14} />
            <p class="font-medium text-[#009A3E] uppercase ">Available for work</p>
        </div>
        <h1 class="text-white text-6xl font-bold leading-tight mb-[60px]">I’m Samsad <br/>
            <span class="text-pmb">Product Design</span>
        </h1>
        <div class="flex gap-8 relative z-10">
            <li class="list-none"><a href="#" class="btn-blue">hey@samsad.com</a></li>
            <li class="list-none"><a href='#'> <Icon name="instagram" size={28}/></a></li>
            <li class="list-none"><a href='#'> <Icon name="DRIBBBLE" size={28}/></a></li>
            <li class="list-none"><a href='#'> <Icon name="BEHANCE" size={28}/></a></li>
            <div class="absolute -z-10 -top-[54px] left-16">
                <Image src={hireme} alt="Hire me" class ="max-w-[70px]"/>
            </div>
        </div>
        <div class="absolute -z-10 right-24 top-12">
            <Image src={uiDesign} alt="Ui design" class="max-w-[110px] object-cover"/>
        </div>
        <div class="absolute -z-10 right-2 top-36">
            <Image src={uxDesign} alt="Ui design" class="max-w-[110px] object-cover"/>
        </div>
    </div>
    <div>
        <div>
            <Image src={banner_image} alt="banner image" class="max-w-md mx-auto"/>
        </div>
    </div>
</header>
