---
import { Astronav, MenuIcon, MenuItems } from "astro-navbar";
import { Image } from "astro:assets";
import logo from "../assets/SR_LOGO.png";

const navItems = [
  {
    text: "Home",
    href: "/",
  },
  {
    text: "Case Study",
    href: "case-study",
  },
  {
    text: "Digital Product",
    href: "digital-product",
  },
  {
    text: "Experience",
    href: "experience",
  },
  {
    text: "Connect",
    href: "/contact",
  },
];
---

<nav class="bg-bgm flex flex-col lg:flex-row justify-between px-10 py-6 rounded-[20px] mb-9">
  <Astronav>

	<div class="flex w-full lg:w-auto items-center justify-between">
		<a href="/"><Image src={logo} alt="logo" class="max-w-14"/></a>
    <div class="block lg:hidden">
      <MenuIcon class="w-6 h-6 text-white" />
    </div>
	</div>

	<div>
    <MenuItems class="hidden w-full lg:w-auto mt-4 lg:flex lg:mt-0">
		<div class="nav-items flex flex-col lg:flex-row lg:gap-8 gap-4 items-center ">
			{navItems.map((i) => (
					<a href={i.href} class="text-white hover:text-textHover last:bg-pmb last:px-6 last:py-2.5 last:rounded-lg">{i.text}</a>				
			))}
		</div>
  </MenuItems>
	</div>
</Astronav>
</nav>
