---
import { Image } from "astro:assets";
import logo from "../assets/SR_LOGO.png";
const navItems = [
  {
    text: "Home",
    href: "/",
  },
  {
    text: "Case Study",
    href: "case-study",
  },
  {
    text: "Digital Product",
    href: "digital-product",
  },
  {
    text: "Experience",
    href: "experience",
  },
  {
    text: "Connect",
    href: "connect",
  },
];
---

<nav class="bg-bgm flex justify-between px-10 py-6 rounded-[20px] mb-9">
	<div>
		<a href="/"><Image src={logo} alt="logo" class="max-w-14"/></a>
	</div>
	<div>
		<ul class="nav-items md:flex gap-8 items-center ">
			{navItems.map((i) => (
				<li class="text-white hover:text-textHover last:bg-pmb last:cursor-pointer last:px-6 last:py-2.5 last:rounded-lg">
					<a href={i.href}>{i.text}</a>
				</li>
			))}
		</ul>
	</div>
</nav>
