---
import { Image } from "astro:assets";
import hireme from "../assets/hireme.png";
import projectIdeaImage from "../assets/projectIdeaImage.png";
import Button from '../components/generalButton.astro';
---

<div class="flex-col flex md:flex-row bg-bgm p-10 md:p-20 rounded-[20px] items-center gap-y-8">
    <div class="w-full md:w-7/12">
        <h2 class="text-3xl md:text-4xl lg:text-6xl text-white font-bold leading-tight mb-16">Have a project idea to collaborate with?</h2>
        <div class="relative z-10">
            <Button href="/contact" class="orange left">Start a project</Button>
            <Image src={hireme} alt="Hireme Imagbe" class="max-w-[70px] object-cover absolute -top-[50px] left-[60px] mx-auto -z-10" />
        </div>
    </div>
    <div class="w-full md:w-5/12">
        <Image src={projectIdeaImage} alt="projectIdeaImage" class="object-cover"/>
    </div>
</div>